<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>{{page.title}} | Austin American-Statesman</title>

  <link rel="icon" type="image/png" href="//projects.statesman.com/common/favicon.ico">

  {{> meta}}

  {{> styles}}

  {{> cmg-head-ads}}
  {{> cmg-head-metadata}}
  {{> cmg-head-metrics}}
</head>
<body>
  {{> navbar-super}}

  {{> navbar-thin}}

  {{{body}}}

  {{> banner-ad}}

  <p id="legal" class="center-block text-center"><small>© 2018 GateHouse Media, LLC. By using this website, you accept the terms of our <a href="http://www.gatehousemedia.com/terms_of_use/" target="_blank">Terms of Service</a> and <a target="_blank" href="http://www.gatehousemedia.com/privacy-policy/">Privacy Policy</a>.</small></p>


  <i
      class="jsinclude"
      style="display:none"
      data-key="currentSite"
      data-value="//www.austin360.com"
      data-literal="false"
  ></i>
  <i
      class="jsinclude"
      style="display:none"
      data-key="mc_connext_on"
      data-value="false"
      data-literal="true"
  ></i>
  <i
      class="jsinclude"
      style="display:none"
      data-key="mc_connext_meter_on"
      data-value="false"
      data-literal="true"
  ></i>
  {{> cmg-body-metrics}}

  {{> scripts}}
</body>
</html>
